
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap');
:root{
    --primary-colour:rgb(113, 115, 184);
    --secondary-colour:rgb(255, 165, 0);
    --font:'Poppins', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin-top: 7rem;
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: fit-content;
    margin:3rem auto;
    -webkit-box-shadow: 0px 4px  22px -6px rgba(0,0,0,0.75);
    -moz-box-shadow:0px 4px  22px -6px rgba(0,0,0,0.75) ;
    box-shadow: 0px 4px  22px -6px rgba(0,0,0,0.75);
}
header{
    width: 100%;
    display: block;
    background:var(--primary-colour);
    padding: 1rem;
}
header h3{
    margin-left: 1.5rem;
    color: rgb(255, 255, 255);
}
.table-wrapper{
    width: 100%;
    margin: 8rem auto;
}
.table-users th,.table-users td{

    border: 2px solid rgb(224, 213, 213);
    padding: 0.2rem;
    border-radius: 10px;
}
.table-users th{
    background: #cabbbb;
}
.btn{
    background: transparent;
    width: 8rem;
    height: 2.2rem;
    border: violet;
    border-radius: 2rem;
    cursor: pointer;
    outline: none;
    margin:auto;
    font-family: var(--font);
    transition: all 0.5s ease;
}

.btn-edit{
    color: var(--primary-colour);
    font-weight: bold;
    font-family: var(--font);
    border: 2px solid black;
}
.btn-edit:hover{
    background: var(--primary-colour);
    color: white;
}

.btn-delete{
    color: var(--secondary-colour);
    font-weight: bold;
    font-family: var(--font);
    border: 2px solid black;
}
.btn-delete:hover{
    background: var(--secondary-colour);
    color: white;
}

.table_wrapper{
    text-align: center;

}
.btn-add{
    width: 5rem;
    margin: 2rem auto;
    font-weight: bold;
    font-family: var(--font);
    background: var(--primary-colour);
    color: white;
    border:2px solid black;
}
.btn-add:hover{
    width: 5rem;
    background: var(--secondary-colour);
    color: rgb(15, 1, 1);
}

.model-wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #24232354;
    display: none;
}

@keyframes animatetop{
    from{
        top: -300px;opacity: 0;
    }
}

.modal-show{
    display: flex;
    
}
.model{
    position: relative;
    background: white;
    backdrop-filter: blur(10px);
    text-align: center;
    width: 25rem;
    margin: 5rem auto;
    animation-name: animatetop;
    animation-duration: 0.3s;
    -webkit-box-shadow: 0px 4px  22px -6px rgb(0, 0, 0);
    -moz-box-shadow:0px 4px  22px -6px rgb(0, 0, 0) ;
    box-shadow: 0px 4px  22px -6px rgb(26, 22, 22);
}
.model-header{
    margin-bottom: 1rem;
    background: #f8fafb;
    padding: 2rem;

}
.model-body{
    padding: 2rem;
}

.btn-model{
    background: var(--primary-colour);
    width: 7rem;
    display: block;
    color: white;
    border: none;
}
input{
    width: 100%;
    height: 2.2rem;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    text-indent: .5rem;
    outline: none;
}
.btn-auth{
    display:block;
    text-align: center;
}
.btn-model{

    margin-top: 5rem;
}
.signup-model,.signin-model{
    display: none;
}